# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
dist/
.tmp-tests/

# local env files
.env
.env.*
!.env.example

# logs and debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.orig.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
